#content {
	margin-top: 20px;
}
[class*="col-"] {
	width: 100%;
}
@media only screen and (min-width: 768px) {
	[class*="col-"] {
		float: left;
		padding: 15px;
	}
	.col-1 {
		width: 8.33%;
	}
	.col-2 {
		width: 16.66%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33%;
	}
	.col-5 {
		width: 41.66%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.33%;
	}
	.col-8 {
		width: 66.66%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.33%;
	}
	.col-11 {
		width: 91.66%;
	}
	.col-12 {
		width: 100%;
	}
}
body, h1, h2, h3, h4, h5 {
	font-family: "Raleway", sans-serif
}
header {
	width: 100%;
	height: 200px;
	text-align: center;
	padding: 20px;
	background-image: url("./images/emmen.jpeg");
}
#rechterCol {
	background-color: #ff6347;
}
.photos {
	max-height: 200px;
	float: right;
	margin-left: 15px;
}
p {
	text-align: justify;
}
@media only screen and (min-width: 1200px) {
	header {
		background-image: url("./images/emmen.jpeg");
	}
	